@import "tailwindcss";

@theme {
  --color-neon-blue: #00f2ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;
  --color-neon-red: #ff003c;
}

/* Base styles that were previously in @layer base */
body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}